[submodule "content/docs-cn"]
	path = content/docs-cn
	url = git@github.com:pingcap/docs-cn.git
[submodule "content/docs"]
	path = content/docs
	url = git@github.com:pingcap/docs.git
[submodule "content/blog-cn"]
	path = content/blog-cn
	url = git@github.com:pingcap/blog-cn.git
[submodule "content/meetup"]
	path = content/meetup
	url = git@github.com:pingcap/meetup.git
[submodule "content/blog"]
	path = content/blog
	url = git@github.com:pingcap/blog.git
[submodule "content/weekly"]
	path = content/weekly
	url = git@github.com:pingcap/weekly.git
[submodule "content/tidb-academy"]
	path = content/tidb-academy
	url = git@github.com:pingcap/private-tidb-academy.git
