/* blog page */

// import global variables
@import './variables.less';

// fontawsome
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.blog {
  padding: 0 @horizontalPadding;
  margin-top: @headerHeight;

  .blog__container {
    margin: 0 auto;
    max-width: 1700px;
    padding: 0 4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .blog__hugeTitle {
    width: 100%;
    padding: 2rem;
    text-align: center;

    h1 {
      color: #3C3C3C;
    }
  }

  .tutorial-platform {
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    background: #F2F2F2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    line-height: 1.5rem;
    justify-content: center;
    font-weight: 600;

    .guide {
      color: #3C3C3C;
      margin-right: 15px;
    }

    .opts {
      a {
        color: #3A58F0; 

        &:hover {
          color: #6780FF;
        }
      }

      span {
        color: #3C3C3C;
        margin: 0 5px;
      }
    }
  }

  .nav-tags {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    line-height: 1.5rem;
    justify-content: center;
    margin-top: 2rem;

    .category:nth-child(1) {
      .category__icon {
        background-image: url('/images/svgs/engineering-icon.svg');
      }
    }

    .category:nth-child(2) {
      .category__icon {
        background-image: url('/images/svgs/htap-icon.svg');
      }
    }

    .category:nth-child(3) {
      .category__icon {
        background-image: url('/images/svgs/scalability-icon.svg');
      }
    }

    .category:nth-child(4) {
      .category__icon {
        background-image: url('/images/svgs/open-source-icon.svg');
      }
    }

    .category {
      text-align: center;
      display: inline;
      width: 25%;
      height: auto;
      line-height: 1.5rem;
      padding: 0 1.7rem;

      .category__icon {
        width: 14rem;
        height: 6rem;
        background-repeat: no-repeat;
        background-position: center;
      }

      .category__content {
        margin-top: 0.3rem;

        .title {
          font-weight: 600;
          font-size: 1rem;
        }

        &::before {
          content: '';
          margin: 1rem 0;
          width: 100%;
          border-top: 2px solid #DDDDDD;
          display: inline-block;
        }

        .summary {
          padding-top: 0.7rem;
          font-weight: normal;
          font-size: 15px;
          text-align: left;
        }
      }
    }
  }

  .blog__artical-list {
    width: 90%;
    padding: 2rem 12px 2rem;
    text-align: center;
  }
}

.list {
  .blog__article {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #DDDDDD;

    .logo {
      display: inline-block;
      width: 25%;
      height: 300px;
      background: #3A58F0;
    }

    .abstract {
      display: inline-block;
      float: right;
      padding: 0 1rem;
      width: 65%;
      height: 300px;
    }

    .clearfix::after {
      content: "020"; 
      display: block; 
      height: 0; 
      clear: both; 
      visibility: hidden;  
    }
  }
}

@media (max-width: 600px) {
  .blog {
    .blog__hugeTitle {
      h1 {
        font-size: 2rem;
      }
    }

    .tutorial-platform {
      background: none;
    }
  }
}